* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

#root {
  margin: 0 auto;
  width: 40vw;
}

.page {
  flex-direction: column;
  margin-top: 1em;
}

.red {
  background-color: rgb(225, 142, 142);
}

.yellow {
  background-color: rgb(224, 224, 146);
}

.green {
  background-color: rgb(144, 224, 144);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.guesses {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.guesses li {
  display: flex;
  gap: 0.5em;
}

.guesses span {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.guessed-letter {
  padding: 2em;
}

.game-tagline {
  font-size: 1.5em;
}

.players-attempts,
.about-previous-season {
  justify-content: space-around;
  width: 92%;
  height: 2em;
  border: 1px solid silver;
  border-radius: 2px;
}

.game-stats {
  gap: 5vh;
  margin-top: 5vh;
  font-size: 1.5em;
}

.guess-holder {
  height: 2em;
  width: 20em;
  text-transform: uppercase;
}

input:invalid {
  outline: 1px solid rgb(221, 159, 159);
}

input:valid {
  outline: 1px solid rgb(125, 179, 125);
}

.submit-guess-btn {
  height: 2em;
  width: 8em;
}
